header{
    height: 10%;
    
    top:0;
    
    padding:5px;
    border-bottom: solid;
    border-color: darkgray;
    border-width: 2px;
    background-color: white;
}

#navigationbar{
    /*border-bottom: ridge;
    border-width: 2px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
    background-color: aliceblue;*/
    width:100%;
    display: none;
}
ul{
     list-style-type: none;/*toglie la spunta*/
     overflow: auto;/*imposrtante per contenre la lista*/
     
     margin: 0;
     /*padding: 0;*/
     padding-left: 10%;
     border-bottom: ridge;
     border-width: 2px;
}
li{
    float: left;/*verifica*/
}
li p{
    display: block;
}
body{
    margin:0;
    background-color: aliceblue;
}
.div{
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    font-family: sans-serif;
    border:none;
    display: none;
}
.searchDiv{
    border: none;
    display: none;
}
.login{/*limite 250% zoom*/
    margin-top: 5%;
    margin-right: 35%;
    margin-left: 35%;
    padding-bottom: 50px;

    text-align:center;
    /*display:table-cell; vertical-align:middle; */

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);/*ombra*/

    border:solid;
    border-width: 1px;
    border-color: grey;
    background-color: white;
    font-family: sans-serif;
}
.logout{
    width:40px;
    height: 20px;
    float: right;
    display:none;
}
.signup{/*limite 250% zoom*/
    margin-top: 5%;
    margin-right: 35%;
    margin-left: 35%;
    padding-bottom: 50px;

    text-align:center;
    /*display:table-cell; vertical-align:middle; */

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);/*ombra*/

    border:solid;
    border-width: 1px;
    border-color: grey;
    background-color: white;
    font-family: sans-serif;
    display: none;
}
.button{
    outline: none;
}
.menuButton{
    outline: none;
    border-color: cadetblue;
    color:brown;
    cursor:pointer;/*puntatore*/
}
.errormessage{
    color:red;
    display: none;
}
.successmessage{
    color:green;
    display: none;
}
input, select{
    width: 50%;
    max-width: 300px;
    height: 2%;
}

.advanceSearchBut{
    float:right;
    width:30px;
    height: 30px;
}

.divtable{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 2%;
    border: none;
    /*display:none;*/
}


/**tabelle lista**/
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.tr {
    background-color: #dddddd;
}
/*.tr:nth-child(even){
    background-color: #dddddd;
}*/
.td {
    border: 1px solid #dddddd;
    text-align: right;/*solo per i numeri right, per le parole left*/
    padding: 8px;
    width:20%;
}
.th {
    border: 1px solid #dddddd;
    padding: 8px;
    width:20%;
}/**/

.tdnum{
    text-align: right;
}

.tddataora{
    text-align: center;
}

.tdtext{
    text-align: left;
}


/*tabelle prenotazione*/
.tablepr{
    width: auto;
}
.trpr{
    border:none;
    background-color: transparent;
    /*width: auto;*/
}
.tdpr{
    border: none;
    text-align: left;/*solo per i numeri right, per le parole left*/
    padding: 18px;/*vorrei togliere il padding dall'input 18*/
    /*min-height: 65px;*/
}
.tdprerror{
    border:none;
    /*width:20%;*/
    /*height:10px;*/
    display: block;    
}
.inputpr{
    min-width:200px;
}

/*Delete Button*/
.buttonColumn{
    border:none;
    outline: none;
}
.buttonManagerTable{
    /*border: none;*/
    cursor: pointer;
    background-color: aliceblue;
    color: red;
    padding: 8px;
    font: bold;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
}
.tdbutton{
    border: none;
}
.rowselected{
    background-color: grey;/*perchè non va???*/
}
.buttonDelete{
    border:none;
    outline: none;
    visibility: hidden;
    background-color: aliceblue;
    color: aliceblue;
}
.buttonModify{
    /*border: none;*/
    cursor: pointer;
    background-color: aliceblue;
    color: red;
    padding: 8px;
    font: bold;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
}