html{
    margin-bottom: 0;
}
body{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 0;
    border:none;
}

#container{
    border: none;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 98%;
   /* margin: 0 auto; */
}