footer{
    border: none;
    height: auto;
    width:100%;
    margin-bottom: 0;
    background-image: url("../img/grafite.jpg");  
    /*border-color: darkslategrey; */
    /*clear: both;*/
    /*background-color: darkslategrey;*/
    /*position: relative;*/  
}
.footerButton{
    color: gainsboro;
    font: small-caps;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.footerForm{
    float:right;
}
.footerDiv{
    height: auto;
    width: 100%;
    display:inline-block;/**VERIFICA QUI*/
    vertical-align: bottom;
    overflow: auto;
    padding-bottom: 50px;
    border-top: solid;
}
.RDiv{
    width: 40%;
    height: auto;
    float: left;
    margin-right: auto;/*2%*/
    margin-top: 20px;
    text-align: right;
    /*border:solid;
    border-color: yellow;*/ 
}
.LDiv{
    width: 40%;
    height: auto;
    float: left;
    margin-left: 4%;/*4%*/
    margin-bottom: 25px;
    /*border:solid;
    border-color: yellow;*/
}
.CDiv{
    width: 10%;
    height: auto;
    float:left;
    margin-top: 20px;
    display:table-cell; vertical-align:middle; text-align:center;/*centrare l'immagine*/
    /*padding: auto;*/
    /*margin: 0 auto;*/
    /*border:solid;
    border-color: yellow;*/
}
.testo{
    color: white;
    text-decoration: none;
}
.link:hover{
    color:grey;
}
a{
   border:none;
   text-decoration: none;
}

/*PROVA PROVA PROVA*/
.footerDiv300{/*js*/
    /*margin-left: 10%;
    margin-right: 10%;
    /*float: left;*/
    height: auto;
    width: auto;
    margin: 0 auto;
    border: solid;
    border-color: yellow;
    /*aggiungi che gli elementi al suo interno siano centrati-questo per gli elemnti interni*/
}
.div300{
    width: 40%;
    height: auto;
    margin-right: auto;
    margin-left:auto;
    /*border:solid;
    border-color: yellow;*/
}
/*FINE PROVA PROVA PROVA*/