header{
    border: none;
    border-bottom:solid; 
    height:120px;
    width: 100%;
    position:fixed;
    top:0;/*default non è zero*/
    background-color: white;
}
.headerForm{
    float:right;
}
#intestazione{
    margin-right: 6%;
    padding-top: 5px;
    padding-left: 4%;
    border: none;
    overflow: auto;
}
.headerButton{
    background-color:#FFFFFF;
    border: none;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 55px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    outline: none;/*non fa vedere il contorno del bottone quando fai click*/
    /*cursor: pointer;*/
}
.headerButton1{
    color:#f44336;
}